.total-container
{
    position: relative;
    width:450px;
    height:585px;
    margin:1% auto;
    padding:0;
}
.orderSpan
{
    font-family: "Segoe UI Light";
    color:floralwhite;
    font-size:2.2em;
    position: inherit;
    left:20%;
}
.form-container
 {
    position: inherit;
    width:425px;
    height:477px;
    font-family: "Segoe UI Light";
    background-color: coral;
    top:12px;
    left:2.5%;
 }

.person-container
{
    position: inherit;
    width:auto;
    height:auto;
    top:0%;
}
.discount-container
{
    position: absolute;
    bottom: 2%;
}
.nameInput
{
    color: white;
    font-family: "Segoe UI Light";
    font-size: 25px;
    height:30px;
    width:45%;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin: 0 5px 5px 5px;
    background-color: coral;

}
.priceInput
{
    width:45%;
    height:30px;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    font-size: 25px;
    font-family: "Segoe UI Light";
    margin: 0 5px 5px 5px;
    background-color: coral;
}

.discInput {
    color: black;
    font-family: "Segoe UI Light";
    font-size: 25px;
    height:30px;
    width:45%;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin: 0 5px 5px 5px;
    background-color: coral;
}
.drinkInput
{
    color: black;
    font-family: "Segoe UI Light";
    font-size: 25px;
    height:30px;
    width:45%;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin: 0 5px 5px 5px;
    background-color: coral;
}
::-webkit-input-placeholder {
    color:white;
    font-size: 15px;
    font-family: "Segoe UI Light";
}

.next-Button
{
    font-size:2.2em;
    font-family: "Segoe UI Light";
    position:absolute;
    bottom:1%;
    color: white;
    text-decoration: none;
    width: 425px;
    text-align:center;
    display: inline-block;
    padding:0;
    left:2.5%;
}
.next-Button:focus
{
    background-color: blue;
}
#select
{
    position: absolute;
    border:none;
    outline:none;
    left:160px;
    bottom:7px;
    background-color: coral;
    padding:0;
    margin:0;

}
